<meta name="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable = 0, viewport-fit = cover, shrink-to-fit = no">
<link rel="stylesheet" href="assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/css/style.css" />
<style>
    body {
        animation: fadeIn 1000ms ease;
        -webkit-animation: fadeIn 1000ms ease;
	}
	@keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    #show-qr-cont {
        color: white;
    }
    .qr-cont {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    @media only screen and (max-width:480px) {
        .qr-cont {
            height: calc(100vh - 76px);
        }
        .qr-cont canvas {
            height: 90vw;
        }
    }
    @media only screen and (min-width:481px) and (max-width:768px) {
        .qr-cont {
            height: calc(100vh - 80px);
        }
        .qr-cont canvas {
            width: 80vh;
        }
    }
    .mobile-icon {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        left: 12px;
        top: 76px;
        text-decoration: none;
        color: white;
        background: rgba(255, 255, 255, .1);
        backdrop-filter: blur(7px);
        border-radius: 50%;
        transition: all .3s ease;
        border: 1px solid rgba(255, 255, 255, .2);
        fill: currentColor;
        cursor: pointer;
    }
    @media only screen and (max-width:480px) {
        .mobile-icon {
            left: 9px;
            top: 9px;
        }
    }
    @media only screen and (min-width:481px) and (max-width:768px) {
        .mobile-icon {
            left: 9px;
            top: 9px;            
        }
    }
    .mobile-icon:hover {
        background: rgba(255, 255, 255, .2);
        transform: translateY(-2px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
    }
    .mobile-icon:active {
        box-shadow: rgba(9, 30, 66, .25) 0px 1px 1px, rgba(9, 30, 66, .13) 0px 0px 1px 1px;
    }
    .centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100%;
        overflow: hidden;
    }
    .network-nodes {
        position: absolute;
        opacity: .13;
        z-index: -1;
    }
</style>
<canvas class="network-nodes"></canvas>
<script src="assets/js/network-nodes.js"></script>
<div id="api-404" hidden></div>
<script src="./assets/js/ecash.js"></script>
<span class="mobile-icon" onclick="loadPage({ shells: ['settings', 'balance', 'options'], scroll: 1, reset: !0 })">
    <i class="fa fa-chevron-left"></i>
</span>
<div id="show-qr-cont" style="padding: 12px; display: none">
    <div class="qr-cont"></div>
</div>
<script type="module">
    import QrCreator from "./assets/js/qr.creator.js";
    document.getElementById("api-404").appendChild(_uz.api);
    _uz.z = { qrScan: { arr: [], hashes: [] }, digit: { height: 12 }, slider: { single: {} } };
    _uz.qr = {
        length: 72,
        delay: 128,
        interval: 0,
        hash: "9h65t34t31p7s&83*4392*81839e5c732a8181sh232%ic421o232n490s$321w23e59b$a472p921p"
    };
    _uz.qrhash({ hash: _uz.qr.hash });
</script>
<script>
    let openApp = (d) => {
        if (localStorage.showqr) {
            createQr({ s: localStorage.showqr });
            delete localStorage.showqr;
        } else if (localStorage.transfer) {
            setTimeout(() => {
                d.transfer = JSON.parse(localStorage.transfer);
                _uz.api.contentWindow.postMessage({
                    action: "ecash-api-transfer-amount",
                    currency: d.transfer.currency,
                    range: d.transfer.amount
                }, _uz.api.src);
            }, 960);
        } else _uz.api.contentWindow.postMessage({ action: "ecash-api-hash-account" }, _uz.api.src);
    },
    createQr = (d) => {
        if (d.s) {
            d.q = document.querySelector(".qr-cont");
            if (d.q) _uz.api.contentWindow.postMessage({ action: "ecash-api-hash-fragment", hash: d.s, length: _uz.qr.length }, _uz.api.src);
        }
    },
    drawQr = (d) => {
        QrCreator.render({ text: d.piece, radius: "0.5", ecLevel: "H", fill: "#fff", background: null, size: "512" }, document.querySelector(d.id));
    };
</script>
<script src="assets/js/index.js"></script>