:root {
    --primary-sw-active: #51d3d8;
}
* {
    margin: 0;
    padding: 0;
    flex-shrink: 0
}
body {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-font-kerning: auto;
    background-attachment: fixed;
    font-kerning: auto
}
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none
}
input,
textarea,
button,
select,
span,
div,
a {
    -webkit-tap-highlight-color: #fff0;
}
::-webkit-scrollbar {
    width:3px;
    height:3px;
    opacity:.13;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px rgb(0 0 0 / .1)
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #61b2d8;
    outline: 1px solid darkslategrey;
}
.snap-container {
    scroll-snap-type: both mandatory;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}
.snap-container>div {
    display: inline-block;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
.snap-container>div>div {
    display: flex;
    flex-direction: column;
    height: 100%
}
.snap-container>div>div>div {
    margin: 0px;
    display: flex;
    width: 100%;
    height: 100%
}
.snap-container>div>div>div>iframe,
.snap-container>div>div>div>object {
    width: 100%;
}
.snap-container>div>div>div>p {
    white-space: pre-wrap
}
.snap-container>br {
    display: block
}
@media only screen and (max-width:1024px) and (orientation:landscape) {
    .snap-container {
        overflow-x: scroll;
        overflow-y: hidden
    }
    .snap-container>br {
        display: none
    }
}
@media only screen and (max-width:480px) {
    .snap-container>div>div>div {
        margin: 0px
    }
    .snap-container>div>div>div>iframe,
    .snap-container>div>div>div>object {
        width: 100%;
    }
}
@media only screen and (min-width:481px) and (max-width:768px) {
    .snap-container>div>div>div {
        margin: 0px
    }
    .snap-container>div>div>div>iframe,
    .snap-container>div>div>div>object {
        width: 100%;
    }
}
nav {
    margin-top: -2px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
}
nav > div {
    padding-top: 2px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 64px;
    border-radius: 0;
    background: skyblue;
    box-shadow: rgba(50, 50, 93, .25) 0px 2px 5px -1px, rgba(0, 0, 0, .3) 0px 1px 3px -1px;
    pointer-events: auto;
}
nav > div > span {
    margin: 0 6px;
    padding: 12px;
    color: rgb(55 65 81 / 1);
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
}
nav > div > span:hover {
    color: black;
    box-shadow: rgba(0, 0, 0, .16) 0px 3px 6px, rgba(0, 0, 0, .23) 0px 3px 6px;
}
nav > div > span:active {
    color: black;
    box-shadow: rgba(50, 50, 93, .25) 0px 30px 60px -12px inset, rgba(0, 0, 0, .3) 0px 18px 36px -18px inset;
}
.nav-float {
    width: calc(100% - 24px);
    height: 50px;
    border-radius: 8px;
}